@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Si deseas crear una reserva para la cancha, primero deberás realizar una carga manual de las canchas, el estado y la persona.</p>
    <p>¡Guíate usando la barra de navegación de arriba ;)</p>
</div>
